:root {
  --primary-color: #ac020b;
  --primary-color-dark: #860106;
  --primary-color-light: #ffdef0;
  --primary-color-medium: #d40008;
  --secondary-color: #316c8b;
  --secondary-color-dark: #3e5f70;
  --secondary-color-medium: #6ca2b2;
  --blue-dark: #0f2663;
  --base-color: #555;
  --error-color: red;
  --box-color-yellow: #fff5c9;
  --box-color-green: #eeffe7;
  --blue-light: #d9eaff;
  --blue-mid: #ccfcff;
  --blue-fb: #3b5998;
  --pure-white: #ffffff;
  --yellow-light: #fff9de;
  --yellow-mid: #ffc107;
  --yellow-dark: #ffa407;
  --green-light: #e0fcc2;
  --green-mid: #c9ed9f;
  --green-dark: #71ae32;
  --gray-light: #e3e3e3;
  --gray-dark: #474747;
  --gray-mid: #8a8a8a;
  --red-dark: #93241a;
  --orange-mid: #fce9d2;
  --blue-mid: #6cbbe8;
  --black: #000;
}

body {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 18px;
  line-height: 1.5em;
  color: var(--base-color);
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.table {
  color: var(--base-color);
  font-size: 16px;
}

th {
  font-weight: 400;
  text-align: center;
  padding: 3px !important;
}

td {
  text-align: center;
  padding: 3px !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px !important;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lh-25 {
  line-height: 25px;
}

.lh-20 {
  line-height: 20px;
}

.lh-22 {
  line-height: 22px;
}

.lh-16 {
  line-height: 16px;
}

.lh-09 {
  line-height: 0.9em;
}

h1 {
  font-size: 2.5rem;
  margin: 0px;
  color: var(--primary-color);
  font-weight: 700;
}
h2 {
  margin: 0px;
  color: var(--primary-color);
  font-weight: 700;
}
h3 {
  font-size: 21px;
  line-height: 31px;
  padding-top: 20px;
  font-weight: 400;
  margin: 0;
}
h4 {
  font-size: 22px;
  margin-top: 10px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
h5 {
  font-size: 18px;
  line-height: 30px;
}

.mb-0 {
  margin-bottom: 0px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-10 {
  margin-bottom: 7px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

/* Text gradient color */
.text-gradient-benetton-blue-purple {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--blue-fb),
    var(#ff137d)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-control.input-error {
  border-color: var(--primary-color);
}

.input-error-message {
  color: var(--primary-color);
}

.error-message {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  padding-top: 5px;
  line-height: 1.7rem;
}

.nonreg-customer-name {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 15px;
  line-height: 1.5rem;
}

.reg-customer-name {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 7px;
  line-height: 1.5rem;
}

.btn {
  padding: 0.8rem 1.2rem;
}

.btn-create {
  color: var(--pure-white);
  background-color: var(--base-color);
  border-color: var(--base-color);
}

.btn-create:hover {
  color: var(--pure-white);
  background-color: var(--gray-dark);
  border-color: var(--gray-dark);
}

.btn-update {
  color: var(--pure-white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-update:hover {
  color: var(--pure-white);
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

.btn-delete {
  color: var(--pure-white);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-delete:hover {
  color: var(--pure-white);
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.container {
  width: 100%;
  max-width: 780px;
  margin: auto;
  margin-bottom: 40px;
  background: white;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
}

.navbar {
  width: 100%;
  max-width: 780px;
  margin: auto;
}

img,
.img {
  border-radius: 5px;
}

.header img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.footer img {
  max-width: 100%;
  height: auto;
}

.icon-mirror {
  -webkit-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important;
  display: inline-block;
}

.profile-img {
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.products-img {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
}

.container-text {
  padding: 0px 30px 0px 30px;
  position: relative;
  margin-top: -40px;
  margin-bottom: -60px;
}

.footer {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  color: var(--base-color);
}

.guest-box-first {
  background: linear-gradient(45deg, rgba(191, 57, 135, 0.25), rgba(191, 57, 135, 0.15));
  padding: 10px 15px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
}

.guest-box-second {
  background: linear-gradient(45deg, rgba(24, 157, 158, 0.3), rgba(24, 157, 158, 0.2));
  padding: 10px 15px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-color);
}

.closed-reg-box {
  padding: 15px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.nonreg-status-box {
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 7px;
  width: auto;
}

.reg-status-box {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-color);
  padding: 15px;
  border-radius: 7px;
  width: auto;
}

.warnreg-status-box {
  border-style: solid;
  border-width: 1px;
  border-color: var(--error-color);
  padding: 15px;
  border-radius: 7px;
  width: auto;
}

.counter-box-info {
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: var(--blue-mid);
  background: linear-gradient(45deg, var(--blue-light), var(--blue-mid));
  padding: 15px;
  width: auto;
  height: auto;
}

.counter-box-warning {
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: var(--error-color);
  background: linear-gradient(45deg, var(--blue-light), var(--blue-mid));
  padding: 9px;
  width: auto;
  height: auto;
}

.counter {
  display: block;
}

.credit-box {
  background: linear-gradient(45deg, rgba(138, 138, 138, 0.3), rgba(138, 138, 138, 0.1));
  padding: 8px 0px 7px 0px;
  border-radius: 7px;
  /* border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color); */
}

.vl {
  border-left: 1px solid var(--gray-mid);
  height: 80%;
  position: relative;
  left: 50%;
  top: 7px;
}

.counter-text {
  color: var(--secondary-color);
  font-size: 52px;
  display: inline-block;
  padding-top: 16px;
  line-height: 2.5rem;
}

.text-base-color {
  color: var(--base-color);
}

.text-red-dark {
  color: var(--secondary-color);
}

.text-orange {
  color: var(--primary-color);
}

.text-green {
  color: var(--green-dark);
}

.text-gray {
  color: var(--gray-dark);
}

.text-red {
  color: var(--error-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.bg-primary-color {
  background: linear-gradient(45deg, var(--primary-color), var(--primary-color-medium));
}

.bg-primary-color-dark {
  background: linear-gradient(45deg, var(--primary-color), var(--primary-color-medium));
  /* background-color: var(--primary-color-dark); */
}

.bg-secondary-color {
  background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-medium));
}

.bg-secondary-color-dark {
  background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-medium));
  /* background-color: var(--secondary-color-dark); */
}

.m-0 {
  margin: 0px;
}

.ms-10 {
  margin-left: 10px;
}
.ms-30 {
  margin-left: 30px;
}

.me-10 {
  margin-right: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}
.mb-10 {
  margin-bottom: 7px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

.p-0 {
  padding: 0px;
}

.pe-0 {
  padding-right: 0px;
}
.pe-10 {
  padding-right: 10px;
}

.ps-0 {
  padding-left: 0px;
}
.ps-10 {
  padding-left: 10px;
}

.pt-7 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}

.pb-7 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}

.small-font {
  font-size: 14px;
  line-height: 1.5;
}

.icon a {
  font-size: 20px;
  color: var(--blue-fb);
  text-align: center;
  padding-top: 10px;
  display: inline-block;
}

.ovbx {
  position: relative;
}
.loader {
  width: auto;
  height: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  z-index: 2;
}
.bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(45deg, #2882c4, #464de4);
  animation: bar-animation 9s ease-in-out infinite;
  z-index: 2;
}

.form-label {
  font-weight: 700;
}

.form-control-first {
  width: 100%;
  padding: 0.45rem;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bolder;
  color: var(--primary-color);
}

.form-control-first:focus {
  border: none;
  font-size: 18px;
  font-weight: bolder;
  color: var(--primary-color-dark);
}

.form-control-second {
  width: 100%;
  padding: 0.45rem;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bolder;
  color: var(--secondary-color);
}

.form-control-second:focus {
  border: none;
  font-size: 18px;
  font-weight: bolder;
  color: var(--secondary-color-dark);
}

.material-icons {
  vertical-align: top;
  line-height: 1;
  display: inline;
}

.material-icons-outlined {
  vertical-align: top;
  line-height: 1;
  display: inline;
}

.material-symbols-outlined {
  vertical-align: top;
  line-height: 1;
  display: inline;
}

.mark,
mark {
  color: var(--base-color);
  padding: 5px 0px 2px 10px;
  margin-top: 10px;
  display: flex;
  background: linear-gradient(90deg, var(--primary-color), var(--primary-color-medium));
  align-items: center;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
}

.highlight {
  padding: 3px 6px 3px 6px;
  display: flex;
  background: linear-gradient(90deg, var(--pure-white), var(--primary-color-light), var(--pure-white));
}

.last-presentation-text {
  color: var(--secondary-color);
}

.past-presentation {
  background: linear-gradient(90deg, var(--gray-light), var(--pure-white));
}
.past-presentation-text {
  color: var(--gray-mid);
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@keyframes bar-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.timer-container {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
  justify-content: center;
}
.countdown-timer {
  display: flex;
  gap: 10px;
}

.time-box {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 79px;
  font-size: 20px;
  height: 79px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--secondary-color);
}

.time-box-prz {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 79px;
  font-size: 20px;
  height: 79px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--primary-color);
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
  color: var(--pure-white);
}

.number-wrapper {
  position: relative;

  overflow: hidden;
  height: 100px;
}

.number-wrapper span {
  display: block;
  font-size: 24px;
  position: absolute;
  background: var(--secondary-color);
  left: 0;
  right: 0;
  transition: transform 0.5s ease;
  color: var(--pure-white);
  height: 100%;
  width: 100%;
}

.number-wrapper .current {
  transform: translateY(0%);
  z-index: 4;
}

.number-wrapper .next {
  transform: translateY(100%);
}

.number-wrapper .animate-out {
  transform: translateY(-100%);
}

.number-wrapper .animate-in {
  transform: translateY(0%);
}

.number-wrapper-prz {
  position: relative;

  overflow: hidden;
  height: 100px;
}

.number-wrapper-prz span {
  display: block;
  font-size: 24px;
  position: absolute;
  background: var(--primary-color);
  left: 0;
  right: 0;
  transition: transform 0.5s ease;
  color: var(--pure-white);
  height: 100%;
  width: 100%;
}

.number-wrapper-prz .current {
  transform: translateY(0%);
  z-index: 4;
}

.number-wrapper-prz .next {
  transform: translateY(100%);
}

.number-wrapper-prz .animate-out {
  transform: translateY(-100%);
}

.number-wrapper-prz .animate-in {
  transform: translateY(0%);
}

/* Center the loader */
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  min-height: 120px;
  margin: -60px 0 0 -60px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid var(--primary-color);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  /* position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .time-box {
    width: 79px;
    height: 79px;
  }

  .time-box-prz {
    width: 79px;
    height: 79px;
  }
}

@media only screen and (max-width: 768px) {
  .time-box {
    width: 120px;
    height: 120px;
  }

  .time-box-prz {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 640px) {
  .time-box {
    width: 70px;
    height: 75px;
    padding: 8px;
  }
  .time-box-prz {
    width: 70px;
    height: 75px;
    padding: 8px;
  }
  .countdown-timer {
    gap: 10px;
    font-size: 18px;
    text-align: center;
  }
  .number-wrapper span {
    font-size: 25px;
  }
  .label {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 17px;
    line-height: 1.6em;
  }

  .container-text {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: -40px;
    width: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .container {
    max-width: 100%;
    margin: 0px;
    /* margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
    background: white;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .header img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .footer img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .footer {
    font-size: 13px;
  }

  .profile-img {
    max-width: 100%;
    height: auto;
  }

  select {
    margin-right: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
    padding-top: 15px;
    margin: 0;
  }

  h4 {
    font-size: 19px;
    margin-top: 10px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-weight: 600;
  }

  h1 .material-icons {
    display: none;
  }

  .table {
    font-size: 15px;
  }

  #loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    min-height: 90px;
    margin: -45px 0 0 -45px;
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid var(--primary-color);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  .pt-7 {
    padding-top: 10px;
  }
}
